.container{
  width: 50%;
  padding: 2rem;
}
.text-primary{
  text-align: center;
}
.list-group{
 font-size: 20px;
 margin-left: 50px;
}
.pagination{
  text-decoration: none;
  
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
}
.page-item a{
  text-decoration: none;
  color: rgb(38, 146, 213);
  padding: 5px;
}
.currentPage{
  margin-left: 70px;
  font-size: 20px;
}